@using blogsite.ViewModels
@model blogsite.ViewModels.LoginViewModel


@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h2>Login</h2>

<form method="post" action="@Url.Action("Login", "Account")">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" required />
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" required />
    </div>
    <button type="submit" class="btn btn-primary w-100">Login</button>
</form>
