@using blogsite.Models 
@model blogsite.Models.CategoryViewModel

<h2>@Model.Name Kategorisi</h2>

<!-- Kategoriye ait blog sayısı ve yorum sayısı -->
<table class="table">
    <thead>
        <tr>
            <th>Kategori Adı</th>
            <th>Blog Sayısı</th>
            <th>Yorum Sayısı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BlogCounts)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.BlogCount</td>
                <td>@item.CommentCount</td> <!-- Yorum sayısı buraya eklendi -->
            </tr>
        }
    </tbody>
</table>
